<!DOCTYPE html>
<html lang="en">
	<%- include('includes/header') %>

	<link rel="stylesheet" type="text/css" href="/css/products.css" />

	<body>
		<div class="products-container">
			<div class="navigation-menu">
				<ul class="nav justify-content-center">
					<li class="nav-item" style="cursor: pointer">
						<a class="nav-link active" href="/admin/">Home</a>
					</li>
					<li class="nav-item" style="cursor: pointer">
						<a class="nav-link" href="/admin/product/all">Menu</a>
					</li>
					<li class="nav-item" style="cursor: pointer">
						<a class="nav-link" href="/admin/order/all">Orders</a>
					</li>
					<li class="nav-item" style="cursor: pointer">
						<a class="nav-link" href="/admin/user/all">Users</a>
					</li>
					<li
						class="nav-item"
						style="cursor: pointer"
						onclick="return confirm('Do you want to logout?')"
					>
						<a class="nav-link" href="/admin/logout">Logout</a>
					</li>
				</ul>
			</div>

			<div class="restaurant-menu-frame">
				<div class="board">
					<div class="dishes-table">
						<span class="new-dish-txt" style="margin-bottom: 30px">
							ORDERS LIST 
						</span>
						<table class="table table-bordered table-hover">
							<thead class="thead-light">
								<tr class="thead-light">
									<th scope="col">T/r</th>
									<th scope="col">Customer Name</th>
									<th scope="col">Created At</th>
									<th scope="col">Order Total</th>
									<th scope="col">Status</th>
								</tr>
							</thead>
							<!--  LOOP PRODUCTS: START  -->
							<% orders.map((order, key)=>{ %>
							<tbody style="background: white">
								<td><%= key +1 %></td>
								<td><%= order.memberData.memberNick%></td>
								<td><%= order.createdAt%></td>
								<td>₩<%= order.orderTotal %></td>

								<td>
									<select
										class="spec-select new-product-status"
										id="<%= order._id %>"
									>
										<option value="PAUSE" <%= order.orderStatus === 'PAUSE'?'selected':''%>>PAUSE</option>
										<option value="PROCESS" <%=order.orderStatus === 'PROCESS'?'selected':''%>>PROCESS</option>
										<option value="PROCESS" <%= order.orderStatus === 'FINISH'?'selected':''%>>FINISH</option>
										<option value="DELETE" <%= order.orderStatus === 'DELETE'?'selected':''%>>DELETE</option>
									</select>
								</td>
							</tbody>
							<!--  LOOP PRODUCTS: END  -->
							<% })%>
						</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/js/order.js"></script>
	</body>

	<%- include('includes/footer') %>
</html>
